# CALLED FROM trace_sim_gdb.sh. Don't call it directly
# This is the GDB script that generate the output of internal simulator that will be compared
# with the output of Harmless.

target sim
file @FILE@
load @FILE@

b * @START@
run

# set startup values
set $r0 = 0
set $r1 = 0
set $r2 = 0
set $r3 = 0
set $r4 = 0
set $r5 = 0
set $r6 = 0
set $r7 = 0
set $r8 = 0
set $r9 = 0
set $r10 = 0
set $r11 = 0
set $r12 = 0

define print_state
	printf "%08x,", $r0
	printf "%08x,", $r1
	printf "%08x,", $r2
	printf "%08x,", $r3
	printf "%08x,", $r4
	printf "%08x,", $r5
	printf "%08x,", $r6
	printf "%08x,", $r7
	printf "%08x,", $r8
	printf "%08x,", $r9
	printf "%08x,", $r10
	printf "%08x,", $r11
	printf "%08x,", $r12
	printf "%08x,", $sp
	printf "%08x,", $lr
	printf "%08x,", $pc
	printf "%08x", $cpsr
	printf "\n"
end

# Main loop
set $loop=@LOOP@
print_state
while($loop != 0)
# step an instruction
	si
## Show the state
	print_state
	set $loop = $loop - 1
end

