version 8
model grosInst

pipeline pipe1
pipe1 addStage F1
pipe1 addStage D1 
//pipe1 addStage D2
pipe1 addStage D3
pipe1 addStage E1
//pipe1 addStage E2
//pipe1 addStage E3
pipe1 addStage E4
pipe1 addStage M1
//pipe1 addStage M2
//pipe1 addStage M3
pipe1 addStage R


pipe1 addResource external Fe 0 priority
pipe1 addResource external Re 0 priority
pipe1 addResource external PC 0 priority

pipe1 addResource internal 1 alu 0 priority

pipe1 addInstructionClass A
A dependResource 1 Fe F1

pipe1 addInstructionClass B
B dependResource 1 Fe F1
B dependResource 1 Re D1

pipe1 addInstructionClass C
C dependResource 1 Fe F1
C dependResource 1 Re D1
C dependResource 1 alu E1
C getResource 1 alu E1
C releaseResource 1 alu E4

pipe1 addInstructionClass D
D dependResource 1 Re F1
D dependResource 1 alu E1
D getResource 1 alu E1
D releaseResource 1 alu E4

pipe1 addInstructionClass E
E dependResource 1 PC D1

pipe1 addInstructionClass F
F dependResource 1 Re F1
F dependResource 1 PC D1

add notification fetch  when instruction enters in stage F1 //mandatory for simulation
