version 8
model test

pipeline pipe1
pipe1 addStage F
pipe1 addStage D
pipe1 addStage E
pipe1 addStage M
pipe1 addStage R

pipe1 addResource external MemInst 0 priority
pipe1 addResource external MemData 0 priority

pipe1 addInstructionClass Nop
Nop dependResource 1 MemInst F

pipe1 addInstructionClass Mem
Mem dependResource 1 MemInst F
Mem dependResource 1 MemData M

pipe1 addInstructionClass _Add
_Add dependResource 1 MemInst F
_Add require data F //end of Fetch
_Add lock    data D //when entering in D
_Add unlock  data R //when getting out of R.

add notification act1 when instruction Nop enters in stage F

//add action fetch  when instruction enters in stage F //mandatory for simulation
//add action nbInst when instruction exits stage R     //mandatory for simulation

//pipe1 addInstructionClass Mul
//Add dependResource 1 MemInst F
//Add stay E 5 //stay 5 cycles in stage E.

//pipe1 addInstructionClass Div
//Div dependResource 1 MemInst F
//Div stay E 20 //stay 20 cycles in stage E. 

