version 8
model simple

pipeline pipe1
pipe1 addStage F 1
pipe1 addStage D 1
//pipe1 addStage R 1

pipe1 addResource external E 0 priority 

pipe1 addInstructionClass A
A dependResource 1 E D

pipe1 addInstructionClass B
//B stay D 2

add notification fetch  when instruction enters in stage F //mandatory for simulation
add notification nbInst when instruction exits stage D     //mandatory for simulation

//add action act1 when instruction A enters in stage D
//add action act2 when instruction C exits stage R
//add action act3 when instruction enters in stage R
//add action act4 when instruction exits stage R
